<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_margin="12dp"
        android:orientation="vertical">
        <CheckBox
            android:id="@+id/audio_pass_thru_cap_samlping_rate_cb"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/samplingrate" />
        <Spinner
            android:id="@+id/audio_pass_thru_cap_samlping_rate_spn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
        <CheckBox
            android:id="@+id/audio_pass_thru_bits_per_sample_cb"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="20dip"
            android:checked="true"
            android:text="@string/bitspersample" />
        <Spinner
            android:id="@+id/audio_pass_thru_bits_per_sample_spn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
        <CheckBox
            android:id="@+id/audio_pass_thru_audio_type_cb"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="20dip"
            android:checked="true"
            android:text="@string/audiotype" />
        <Spinner
            android:id="@+id/audio_pass_thru_audio_type_spn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
    </LinearLayout>
</ScrollView>