<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:orientation="vertical"
    android:padding="16dp">
    <CheckBox
        android:id="@+id/sdl_on_app_permisssion_consent_app_id_check"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:checked="true"
        android:text="@string/app_id" />
    <RadioGroup
        android:id="@+id/sdl_on_app_permisssion_consent_app_id_manual_radioGroup"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:paddingLeft="12dp">
        <RadioButton
            android:id="@+id/sdl_on_app_permisssion_consent_app_id_manual"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/manual" />
        <EditText
            android:id="@+id/sdl_on_app_permisssion_consent_app_id_et"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:inputType="number" />
        <RadioButton
            android:id="@+id/sdl_on_app_permisssion_consent_app_id_registered_apps"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="@string/registered_apps" />
        <Spinner
            android:id="@+id/sdl_on_app_permisssion_consent_app_id_spn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
    </RadioGroup>
    <CheckBox
        android:id="@+id/consented_source__sdl_check"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:checked="true"
        android:text="@string/source" />
    <Spinner
        android:id="@+id/consented_source_sdl_spn"
        android:layout_width="match_parent"
        android:layout_height="wrap_content" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_gravity="center"
        android:orientation="horizontal">
        <CheckBox
            android:id="@+id/sdl_on_app_permission_consent_add_permission_chk"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true" />
        <Button
            android:id="@+id/consented_functions_sdl_btn"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:text="@string/add_permission_item" />
    </LinearLayout>
    <ListView
        android:id="@+id/consented_functions_sdl_lv"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent" />
</LinearLayout>