<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:layout_margin="8dp"
        android:orientation="vertical">
        <CheckBox
            android:id="@+id/rc_remote_control_capabilities_cb"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="RemoteControlCapabilities" />
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_marginLeft="16dp"
            android:gravity="center"
            android:orientation="horizontal">
            <CheckBox
                android:id="@+id/rc_climate_control_capabilities_cb"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true" />
            <Button
                android:id="@+id/rc_climate_control_capabilities_btn"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:text="Climate Control Capabilities" />
        </LinearLayout>
        <ListView
            android:id="@+id/rc_climate_control_capabilities_lv"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content" />
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_marginLeft="16dp"
            android:gravity="center"
            android:orientation="horizontal">
            <CheckBox
                android:id="@+id/rc_radio_control_capabilities_cb"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true" />
            <Button
                android:id="@+id/rc_radio_control_capabilities_btn"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:text="Radio Control Capabilities" />
        </LinearLayout>
        <ListView
            android:id="@+id/rc_radio_control_capabilities_lv"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content" />
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_marginLeft="16dp"
            android:gravity="center"
            android:orientation="horizontal">
            <CheckBox
                android:id="@+id/rc_button_capabilities_cb"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true" />
            <Button
                android:id="@+id/rc_button_capabilities_btn"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:text="Button Capabilities" />
        </LinearLayout>
        <ListView
            android:id="@+id/rc_button_capabilities_lv"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content" />
        <CheckBox
            android:id="@+id/rc_result_code_cb"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/result_code" />
        <Spinner
            android:id="@+id/rc_result_code_spn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
    </LinearLayout>
</ScrollView>